[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[scripts]
app = "python -m app"
texts_update = "./scripts/exportTexts.sh"
texts_compile = "./scripts/compileTexts.sh"

[dev-packages]
black = "==19.3b0"
isort = "==4.3.21"
flake8 = "==3.7.8"
ipython = "==7.8.0"
aiohttp-autoreload = "==0.0.1"

[packages]
aiogram = "==2.9.2"
click = "==7.0"
loguru = "==0.3.2"
uvloop = "*"
aiohttp = "==3.6.2"
envparse = "==0.2.0"
sqlalchemy = "==1.3.10"
sqlalchemy-utils = "==0.34.2"
psycopg2-binary = "==2.8.4"
asyncpg = "==0.19.0"
gino = "==0.8.3"
alembic = "==1.2.1"
aioredis = "==1.3.0"
cchardet = "==2.1.4"
aiodns = "==2.0.0"
tenacity = "==5.1.1"
apscheduler = "==3.6.1"
redis = "==3.3.11"
aiohttp-healthcheck = "==1.3.1"
requests = "*"

[pipenv]
allow_prereleases = true
